.jumbotron{
  background-color:rgb(152, 142, 205);
  color: rgb(47, 22, 15);
}
body{
  background-color: rgb(219, 170, 249);
}

.panel{
  background-color: rgb(171, 159, 193);
}
.panel-heading{
  background-color: rgb(174, 119, 176);
}
